 body {
    margin: 0px;

 }

 /* Body Header*/
 /*Adding header image */
 #body-header {
    height: 65vh;
    /*	width: 50%;*/
    opacity: 0.8;
    /* background-image: url(images/macbook_mouse.jpg); */
    background-image: url(./images/macbook_mouse.jpg);
    background-size: cover;
    background-position: centre;
    background-attachment: fixed;
    padding-top: 1.2rem;
 }

 /*Horizontal Lists*/
 /*Making the of Part 1 clear*/
 .horizontal-list {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
    /*    padding: 10px;*/
    margin: 2px;
    /*    text-align:center;*/
 }

 /*Nested wala use kiya he isme li wale ko nested kiya he*/

 .horizontal-list li {
    display: inline-block;
    margin: 0px 8px 0px 8px;
    font-weight: 100;
    font-size: 1.2rem;
    padding: 10px;
 }

 /* colour change kar sakte ho*/
 .horizontal-list li a {
    color: white;
    text-decoration: none;
 }

 .nav-menu li a {
    transition: color 0.5s, border-bottom 4s;
 }

 .horizontal-list li a:hover {
    color: lightgrey;
    border-bottom: center;
 }

 /*        Adding a hover*/

 .nav-menu li a:hover {
    color: lightgrey;
    border-bottom: 1px solid white;
 }

 /*center me lane ke liye*/
 .text-center {
    text-align: center;
 }

 /* Heading*/
 #name-social-container {
    margin-top: 20vh;
 }

 #my-name {
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
 }

 /* logo*/
 .social-icons li a i {
    color: white;
    padding: 10px;
    font-size: 1rem;
    border-radius: 50%;
 }

 .social-icons li a i:hover {
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 4);
 }

 /* For all general section we have*/

 section {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 /*      For odd page number */

 section:nth-child(2n) {
    background-color: #EFEFEF;
 }

 /* For even page number*/

 section:nth-child(2n+1) {
    background-color: white;
 }

 /*    Adding target to all the section*/

 section:target {
    background-color: cyan;
 }

 .section-heading {
    width: auto;
    padding: 20px 10px 10px;
    margin: 10px auto;
    font-weight: 400;
 }

 .section-heading span {
    font-size: 40px;
    color: #2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
 }

 /*  About section*/

 #about {
    height: auto;
    width: 100%;
    position: relative;
 }

 /*   Logo par ko sahi karte he*/

 #my-image {
    height: 13rem;
    width: 13rem;
    margin: auto;
    margin-top: -17vh;
 }

 #my-image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid #FFFFFC;
    /*shadow of the profile*/
    box-shadow: 1px 1px 10px 3px;
    /*(h-offset v-offset blur spread)*/
 }

 /*Description about myself*/

 #about-para {
    padding: 10px;
    width: 70%;
    height: 100%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-weight: 100;
    font-size: 1.1rem;
 }

 /*for paragraph width*/

 #desc {
    font-size: 20px;
    margin: 20px 10% 0px 10%;
    padding-bottom: 30px;
 }

 /*    Bold walo ko blue color dena he*/

 b {
    color: blue;
 }


 /*Media  Querry for the nav bar     */
 @media only screen and (max-width: 600px) {

    .timeline-box {
       width: 100%;
       left: 10% !important;
    }

    .bars {
       display: block;
    }


    .nav-menu {
       display: none;
    }
 }


 /* Media Query for the skill  */


 @media screen and (max-width:600px) {
    .skills {
       height: 70vh;
    }

    #res1 {
       margin-left: -20%;
    }

    #res2 {
       margin-left: 48px;
       margin-right: -70px;
    }

    #pos1 {
       margin-bottom: 10px;
    }

    .eight-five-percent1 {
       margin-bottom: 10px;
    }

    .skill-progress {
       margin-bottom: 10px;
    }
 }




 /*Sari skills ka he Ye*/

 .skills {
    height: 70vh;
 }

 .skills-display {
    width: 55%;
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
 }

 .skill-progress {
    width: 9rem;
    height: 1.8rem;
    background-color: lightgrey;
    border-radius: 0.8rem;
    /*   border: 2px solid black; */
    /*  text-transform: center;*/
 }

 .skill-progress>div {
    border-radius: 20px 0px 0px 20px;
 }

 .skill-name span {
    color: white;
    font-size: 1rem;
    margin-left: 10px;
 }


 .mb75px {
    margin-bottom: 75px;
 }


 .text-highlight {
    color: #2857a4;
    font-weight: 600;
 }

 /*Har ek skill ke liye*/

 /*1*/

 .mb-blue1 {
    background-color: #7C3AC8;
 }

 .eight-five-percent1 {
    width: 85%;
    height: inherit;
 }

 /*2*/

 .mb-blue2 {
    background-color: #E3477E;
 }

 .eight-five-percent2 {
    width: 85%;
    height: inherit;
 }

 /*3*/

 .mb-blue3 {
    background-color: #7C6EBB;
 }

 .eight-five-percent3 {
    width: 85%;
    height: inherit;
 }

 /*4*/

 .mb-blue4 {
    background-color: #EC4D1C;
 }

 .eight-five-percent4 {
    width: 45%;
    height: inherit;
 }

 /*5*/

 .mb-blue5 {
    background-color: #93738C;
 }

 .eight-five-percent5 {
    width: 85%;
    height: inherit;
 }

 /*6*/

 .mb-blue6 {
    background-color: #218976;
 }

 .eight-five-percent6 {
    width: 50%;
    height: inherit;
 }

 /*7*/

 .mb-blue7 {
    background-color: #2857A4;
 }

 .eight-five-percent7 {
    width: 50%;
    height: inherit;
 }

 /*  8*/

 .mb-blue8 {
    background-color: #93738C;
 }

 .eight-five-percent8 {
    width: 85%;
    height: inherit;
 }



 /*Timline*/
 #Sanskar {
    display: flex;
    flex-direction: row-reverse;
 }

 #Sanskar span {
    font-size: 10px;
    color: blue;
    font-weight: bold;
    /*   margin-left: 60px;*/
 }

 #Sanskar a {
    /*   margin-left: -20px;*/
    margin-right: 50%;
 }

 #expert {
    margin-left: 20px;
 }

 #p1 {
    margin-left: -130px;
    color: #325BA2;
    font-weight: bold;
 }

 #p2 {
    margin-left: -130px;
    color: #EB8B45;
    font-weight: bold;
 }

 #p3 {
    margin-left: -130px;
 }

 #p1a {
    margin-left: -100px;
    color: #325BA2;
    font-weight: bold;
 }

 #p2a {
    margin-left: -100px;
    color: #EB8B45;
    font-weight: bold;
 }

 #p3a {
    margin-left: -100px;
 }

 #paras {
    color: red;
    margin-top: 10px;
 }

 #experience {
    height: auto;
    margin-bottom: 20px;
 }

 .timeline h3 {
    color: blue;
 }

 .timeline {
    position: relative;
    width: 75%;
    /*   border: 2px solid black;*/
 }

 .timeline-divider {
    position: absolute;
    height: 75%;
    width: 0;
    border: 1px dashed #0096fa6b;
    top: 10%;
    left: 50%;
 }

 .timeline-traveller {
    position: sticky;
    top: 30%;
    transform: rotate(90deg);
    color: #4272B2;
    z-index: 1;
 }

 .timeline-box {
    position: relative;
    margin: 5px;
    width: 40%;
    left: 5%;
    min-height: 150px;
    /*  border: 2px solid black;*/
 }

 /* Placing of box as all even children are at right */

 .timeline-box:nth-child(2n) {
    left: 53.2%;
 }

 /* Creating a pseudo class*/

 .timeline-box:nth-child(2n+1)::after {
    content: '';
    position: absolute;
    top: 30%;
    right: -12.6%;
    border-radius: 80%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: lightgrey;
    z-index: 1;
 }

 .timeline-box:nth-child(2n)::after {
    content: '';
    position: absolute;
    top: 30%;
    left: -9.8%;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: lightgrey;
    z-index: 1;
 }

 /* To make work experience more better */


 @media screen and (max-width:600px) {
    .timeline-divider {
       left: 5%;
    }

    .timeline-box {
       left: 12% !important;
       width: 80%;
    }

    .timeline-box::after {
       left: -12% !important;
    }

    html {
       font-size: 15px;
    }
 }

 /* Education section ke bare me */

 #education {
    height: auto;
    margin: 20px;
 }

 /*Portfolio*/

 #portfolio {
    height: auto;
 }


 #div2 img {
    height: 200px;
    width: 200px;
    margin-right: 90px;
 }

 #div3 img {
    height: 200px;
    width: 200px;
    margin-right: 90px;
 }

 #div4 img {
    height: 200px;
    width: 200px;
    /*  margin-right:90px ;*/
 }

 #div5 img {
    height: 200px;
    width: 200px;
    margin-right: 90px;
 }

 #div6 img {
    height: 200px;
    width: 200px;
    margin-right: 90px;
 }

 #div7 img {
    height: 200px;
    width: 200px;
    /*   margin-right:90px ;*/
 }


 #diva {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: space-between;
    /*   margin-top:-70px ;*/
    position: relative;
    top: -50px;
 }

 #divb {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: space-between;
    /* margin-top: -10px; 
    */
    position: relative;
    top: -50px;
 }

 /* Media section of the portfolio */

 @media screen and (max-width:600px) {
    #portfolio {
       margin-left: 30%;
    }

    .portfoliohead {
       margin-left: 1%;
    }
 }

 /* contact section */

 #contacts {
    background-image: linear-gradient(to top right, #2857a4, #403066 80%);
    height: auto;
    color: white;
 }

 /*For heading*/

 .section-heading1 {
    width: auto;
    padding: 20px 10px 10px;
    margin: 10px auto;
    font-weight: 400;
 }

 .section-heading1 span {
    font-size: 40px;
    color: #FFFFFF;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
 }

 #address {
    margin-left: 260px;
    top: 10%;
    left: 50%;
    margin-top: 35px;
 }


 .Form {
    position: relative;
    top: 10%;
    left: 0%;
    margin-top: 4%;
    margin-left: 8%;
 }

 .message {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    margin-top: 10px;
 }

 .message button {
    margin-top: 70px;
    margin-left: 50%;
    width: 150px;
    height: 40px;
    align-items: center;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    background-color: #31488C;
 }

 .message textarea {
    color: #757575;

 }

 #email {
    margin-top: 20px;
 }

 #getintouch p {
    font-size: 13px;
 }


 #desc1 {
    font-size: 5px;
 }

 .contact-input {
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom-color: white;
    width: 70vh;
 }

 #getintouch {
    flex: display;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 2px;
    margin-right: 70%;
    margin-right: 10rem;
    margin-top: 200px;
 }

 .maincontact {
    display: flex;
 }

 #address1 {
    font-size: 13px;
 }

 #lastlogo {
    margin-top: -5%;
 }

 /*Media query for contact section */
 @media screen and (max-width:600px) {
    .Form {
       width: 50px;
       /*      height: 300px;*/
       margin-left: 5%;
    }

    .maincontact {
       flex-wrap: wrap;
    }

    #address {
       width: 80%;
       margin: 10%;
       margin-top: -50%;
    }

    .contact-input {
       width: 60vh;
    }

    #lastlogo {
       margin-top: 10%;
    }

    #mess {
       margin-left: -100px;
    }
 }


 /* For the navbar  */

 .nav-menu {
    margin-top: -30px;
 }

 #navbar {
    color: lightgrey;
    margin-left: 90%;
    margin-top: 40px;
 }

 #nav-menu1 {
    display: inline-flex;
 }

 .nav-link {
    font-size: 20px;
    color: red;
 }